@media (max-width: 960px){
    .leleo-left{
        &-welcome{
            font-size: clamp(1.2rem, 5.6vw, 1.55rem)!important;
            letter-spacing: 0.03em;
            padding: 0 1rem!important;
        }
        &-avatar{
            .musicplayer-text{
                font-size: 10px!important;
            }
        }
        &-socialIconsContainer{
            .setting{
                transform: scale(0.8);
                position: fixed;
                right: 5px;
                bottom: 5px;
                z-index: 99999;
            }
        }
    }
}
